@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-void-black: #000000;
    --color-smolder-earth: #0b0502;
    --color-charcoal: #1a1a1a;
    --color-bone-white: #ffffff;
    --color-ash: #e3e3e2;
    --color-driftwood: #c0bfbe;
  }
  
  body {
    @apply bg-void-black text-bone-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
